<div class="parent chamfered-top">
    <ng-template [ngIf]="render_boxes">
        <div class="light-blue full-width chamfered-top" >
            <label class="side-pad black-large-font">{{patch_name}}</label>
            <label class="side-pad black-large-font">{{patch_description}}</label>
        </div>
        <ng-template ngFor let-slot [ngForOf]="slots">
            <ng-template let-data #t [ngTemplateOutlet]="t" 
                    [ngTemplateOutletContext]="{ $implicit: slot_data[slot] }">
                <div class="center-items">
                    <label class="slot-label {{data['slot_name']}}">{{data['slot_label']}}</label>
                </div>
                <label class="slot_instruction">{{data["text"]}}</label>
            </ng-template>
        </ng-template>
    </ng-template>
</div>
